apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: wordpress-v2
  labels:
    app: mysql
    tier: database
spec:
  type: ClusterIP
  selector:
    app: mysql
  ports:
  - port: 3306
    targetPort: 3306
    protocol: TCP
    name: mysql
  # Session Affinity 对于 MySQL 不需要，因为是单副本
  sessionAffinity: None
